.abc{
    padding-left: 15%;
}
.ord{
    margin-left: 400px;
}
.title{
    padding-left: 350px;
}
.one{
    background-color: rgb(249 250 251);
    padding-top: 40px;
    padding-bottom: 50px;
}
.two{
    width: 65%;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(41, 38, 38);
}
.three{
    margin-top: 100px;
    margin-bottom: 10px;
    line-height: 1.75;
    color: rgb(41,38,38);
}
.three h1{
    font-size: 1.7rem;
    line-height: 2rem;
    padding-bottom: 20px;
}
.four img{
    width: 100px;
}
.four{
    width: 60%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    text-align: start;
}
.four h1{
    font-size: 1.2rem;
}
.four h4{
    font-size: 1.5rem;
}
.five{
    background-color: rgb(216,214,214);
    padding-bottom: 60px;
    text-align: center;
}
.six{
    width:900px;
    text-align: center;
    margin: auto;
}
.seven{
    padding-right: 10px;
    margin-right: 15px;
    padding-top: 20px;
    width: 400px;
    height: 120px;
    margin-bottom: 60px;

}
.seven h1{
    font-size: 1.8rem;
    margin-left: 40px;
    color: rgb(74,71,71);
}
.seven h5{
    font-size: 1.2rem;
    color:darkgrey;
}
.eight{
    width: 100%;
    margin: auto;
}
.eight h1{
    font-size: 2rem;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 50px;
}
.eight h5{
    font-size: 1.5rem;
    padding-top: 20px;
    color: rgb(146,145,145);
}
.nine{
    width: 50%;
    margin-right: 50px;
    margin-left: 120px;
    padding-right: 50px;
    padding-left: 50px;


}
.nine1{
    width: 30%;
    margin-right: 35px;
    margin-left: 60px;
    padding-left: 50px;
    padding-right: 50px;

}


.ar img{
    width: 500px;
    margin-left: 400px;
    
}
.km h3{
    padding-left: 900px;
    padding-top: 20px;
    
}
.km h6{
    padding-left: 900px;
}
.thelast{
    padding-bottom: 20px;
}
.adc{
    padding-right: 0px;
}
.adc .btn{
    padding: 10px 15px;
    margin-left: 800px;
}
.final h1{
    font-size: 1.2rem;
}
.twit{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.fb{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.gith{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.disc{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.wm{
    font-size: .75rem;
    color: rgb(75 85 99);
    margin-top: 40px;
    margin-bottom: 40px;
}
.aw h5{
    color: rgb(43, 46, 48);
    padding-left: 600px;
}