.tp{
    text-align: center;
    font-size: 2rem;
}
.title{
    margin-left: 200px;
}
.ofd{
    margin-left: 520px;
}
.ag{
    text-align: center;
}
.anz h1{
    font-size: 2.5rem;
}
.cbl{
    padding-top: 1px;
    padding-bottom: 58px;
}
.an{
    margin-left: 20px;
}
.rs{
    margin-left: 400px;
    width: 35rem;
    height: 40rem;
    padding-right: 200px;
}
.rs1{
    margin-left: 30px;
    width: 35rem;
    height: 40rem;
    padding-right: 200px;
    
}
.rs h3{
    font-size: 1.2rem;
    color: darkgray;
}
.rs span{
    align-self: 1.5rem;
    color:darkgray;
    padding-left: 300px;
}
.rs h5{
    font-size: 1.2rem;
    color: darkgray;
}

.rs1 h3{
    font-size: 1.2rem;
    color: darkgrey;
}
.rs1 span{
    align-self: 1.5rem;
    color:darkgray;
    padding-left: 400px;
}
.rs1 h2{
    font-size: 1.2rem;
    color: darkgray;
}

.an img{
    width: 100px;
    margin: auto;
}
.tle h2{
    font-size: 1.2rem;
    color: rgb(107 114 128);
}
.km{
    background-color: rgb(100, 99, 99);
    color: white;
}
.arz{
    width: 60rem;
    margin: auto;
    background-color: white;
    padding-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.sprt{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.opf{
    text-align: center;
    font-size: .955rem;
    color: rgb(107 114 128);
}
.thelast{
    padding-bottom: 80px;
}
.adc{
    padding-right: 0px;
}
.adc .btn{
    padding: 10px 15px;
}
.abc{
    padding-left:800px;
}
.abc .btn{
    padding: 10px 30px;
}
.final h1{
    font-size: 1.2rem;
}
.twit{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.fb{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.gith{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.disc{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.wm{
    font-size: .75rem;
    color: rgb(75 85 99);
    margin-top: 40px;
    margin-bottom: 40px;
}