.abc{
    padding-left: 15%;
}
.tp{
    text-align: center;
    font-size: 2rem;
}
.tp h5{
    font-size: 1rem;
    color: rgb(82, 76, 76);
    margin: 10px 10px;
}
.tp h3{
    font-size: 1.5rem;
    padding-top: 70px;
    color:rgb(79, 76,76);
}
.one{
    font-family: inter,helvetica nene,helvetica,arial, sans-serif;
    font-size: 3.75rem;
}
.one span{
    color: rgb(169 121 43);
}
.title{
    margin-left: 370px;
}
.oFd{
    margin-left: 370PX;
}
.tp{
    text-align: center;
    font-size: 2rem;
}
.tp h5{
    font-size: 1rem;
    color: darkgrey;
    margin: 10px 10px;
}

.heyy{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.heyy h5{
    padding-left: 220px;
}
.hey{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: rgb(249 250 251);
}
.hey h1{
    font-size:
}
 
.ar{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.ah{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.an{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
