.title{
    padding-left: 350px;
}

.ap{
    text-align: center;
    font-size: 2rem;
}
.pp{
    text-align: center;
}
.roww h1{
    font-size: 2rem;
}
.sts{
    padding-top: 1px;
    padding-bottom: 58px;
}
.az{
    margin-left: 20px;
}
.qq{
    margin: auto;
    width: 35rem;
    height: 40rem;
}
.qq h3{
    font-size: 1.5rem;
}
.qq span{
    align-self: center;
}
.qq h2{
    font-size: 1.5rem;
    color: rgb(107, 114, 128);
}

.az img{
    width: 100px;
    margin: auto;
}
.qw h2{
    font-size: 1.2rem;
    color: rgb(107 114 128);
}
.btt{
    background-color: rgb(100, 99, 99);
    color: white;
}
.cmm{
    width: 60rem;
    margin: auto;
    background-color: white;
    padding-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.sprt{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.hhh{
    text-align: center;
    font-size: .955rem;
    color: rgb(107 114 128);
}
.thelast{
    padding-bottom: 80px;
}
.lmi{
    padding-right: 0px;
}
.lmi .btn{
    padding: 10px 15px;
}
.lmo{
    padding-left: 650px;
}
.lmo .btn{
    padding: 10px 30px;
}
.final h1{
    font-size: 1.2rem;
}
.twit{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.fb{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.gth{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.disc{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.wm{
    font-size: .75rem;
    color: rgb(75 85 99);
    margin-top: 40px;
    margin-bottom: 40px;
}