.an{
    padding-left: 300px;
}
.one {
    font-family: Inter,helvetica neue,helvetica,Arial,sans-serif;
    font-size: 3.75rem;
}
.one span{
    color: rgb(169 121 43)
}
.one h1{
    font-size: 65px;
}
.four{
    font-size: 1.875rem;
}
.three h6{
    font-size: 1.5rem;
    font-family: Inter,helvetica neue,helvetica,Arial,sans-serif;
    color: rgb(107 114 128);
    padding-top: 22px;
    padding-bottom: 10px;
}
.three h1{
    font-size: 1.2rem;
    color: rgb(39,37,37);
}
.six{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.title{
    padding-left: 350px;
}
.row .ten h6{
    font-size: 1.3rem;
    font-family: Inter,helvetica neue,helvetica,Arial,sans-serif;
    color:rgb(117 117 117);
    text-align: center;
    margin-top: 40px;
}
.ten h4{
    padding-top: 50px;
}
.eight h1{
    color: rgb(31 41 55);
    text-align: center;
    font-size: 1.8rem;
    font-family: Inter,helvetica neue,helvetica,Arial,sans-serif;

}
.imm{
   background-color: white;
   transition: .5s;
   padding: 40px;
   
}
.imm:hover{
    box-shadow:rgba(0,0,0,0.35) 0px,5px,15px;
}
.therow{
    width: 1000px; 
   text-align: center;

    
}
.aru{
    margin-top: 50px;
}
.aru .btn{
    background-color: white;
    padding: 15px 22px;
    color: rgb(32,32,32);
}
.ruby h1{
    font-size: 1.3rem;
    color: gray;
}
.ktm{
    background-color: rgb(243 244 246);
    padding-top: 40px;
    padding-bottom: 40px;
}
.you{
    margin-bottom: 100px;
}
.ord{
    margin-left: 400px;
}
.tp{
    background-color: rgb(249 250 251);
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 30px;
}
.tp .tpa{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 70px;
}
.imn img{
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}
.rob h1{
    font-size: 1.125rem;
    color: rgb(75 85 99);
}
.rob h3{
    font-size: 1.125rem;
    color: rgb(75 85 99);
}
.rcb{
    padding-top: 30px;
    color: rgb(31 41 55);
    font-size: 1.8rem;
    font-weight: 500;
}
.therew{
    padding-bottom: 80px;
    margin-left: 1000px;
}
.pf{
    padding-left: 40px;
}
.read{
    text-align: center;
     font-size: 1.2rem;
     padding-bottom: 70px;
     color:rgb(133,133,133)
}
.sprt{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.aaa{
    text-align: center;
    font-size: .955rem;
    color: rgb(107 114 128);
}
.lmi{
    padding-right: 800px;
}
.lmi .btn{
    padding: 10px 15px;
}
.lmo{
    padding-left: 800px;
}
.lmo .btn{
    padding: 10px 15px;
}
.thelast{
    padding-bottom: 80px;
}
.final h1{
    font-size: 1.2rem;
}
.tts{
    display: flex;
    justify-content: center;
}
.tts .btn{
    margin-left: 20px;
    padding-left: 22px;
}
