.abc{
    padding-left: 15%;
}
.tp{
    text-align: center;
    font-size: 2rem;
}
.tp h5{
    font-size: 1rem;
    color: rgb(82, 76, 76);
    margin: 10px 10px;
}
.tp h3{
    font-size: 1.5rem;
    padding-top: 70px;
    color:rgb(79, 76,76);
}
.one{
    font-family: inter,helvetica nene,helvetica,arial, sans-serif;
    font-size: 3.75rem;
}
.one span{
    color: rgb(169 121 43);
}
.title{
    margin-left: 370px;
}
.oFd{
    margin-left: 370PX;
}
.tp{
    text-align: center;
    font-size: 2rem;
}
.tp h5{
    font-size: 1rem;
    color: darkgrey;
    margin: 10px 10px;
}

.heyy{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.heyy h5{
    padding-left: 220px;
}
.hey{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: rgb(249 250 251);
}
.hey h1{
    font-size:
}
 
.ar{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.ah{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.an{
    width: 65;
    color: dimgray;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.75;
    padding-bottom: 45px;
}
.five{
    background-color: rgb(216,214,214);
    padding-bottom: 60px;
    text-align: center;
}
.six{
    width:900px;
    text-align: center;
    margin: auto;
}
.seven{
    padding-right: 10px;
    margin-right: 15px;
    padding-top: 20px;
    width: 400px;
    height: 120px;
    margin-bottom: 60px;
}
.seven h1{
    font-size: 1.8rem;
}
.seven h5{
    font-size: 1.2rem;
}
.eight{
    width: 100%;
    margin: auto;
}
.eight h1{
    font-size: 2rem;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 50px;
}
.eight h5{
    font-size: 1.5rem;
    padding-top: 20px;
    color: rgb(146,145,145);
}
.nine{
    width: 50%;
    margin-right: 50px;
    margin-left: 120px;
    padding-right: 50px;
    padding-left: 50px;


}
.nine1{
    width: 30%;
    margin-right: 35px;
    margin-left: 60px;
    padding-left: 50px;
    padding-right: 50px;

}
