

.ord{
    
    margin-left: 400px;
}

.title{

    padding-left: 350px;
}

.sprt{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.hhh{
    text-align: center;
    font-size: .955rem;
    color: rgb(107 114 128);

    
}
.thelast{
    padding-bottom: 80px;
}
.lmi{
    padding-right: 0px;
}
.lmi .btn{
    padding: 10px 15px;
}
.lmo{
    padding-left: 650px;
}
.lmo .btn{
    padding: 10px 30px;
}

.final h1{
    font-size: 1.2rem;
}
.twit{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.fb{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.gth{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.disc{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}


.wm{
    font-size: .75rem;
    color: rgb(75 85 99);
    margin-top: 40px;
    margin-bottom: 40px;
}
.one{
    background-color: rgb(249 250 251);
    padding-bottom: 40px;
    margin-top: 1%;
}



/* .onee{
    width: 100%;
    height: 100vh;
  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(249 250 251);

   
} */
.two{
    background-color: rgba(255, 255, 255, 0.99);
    width: 28%;
    height: 80%;
    margin-top: 1%;
    margin-left: 30%;
    margin-bottom: 10%;
    padding-bottom: 3%;
     
    
}
.zz h1{
    font-size: 1.8rem;

    
  
    

}
.cc {
   
    text-align: end;
    
    
}



.mb{
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    
}
.form-label h1{
    font-size: .9rem;
    padding-bottom: 1%;
    padding-top: 30%;
}
.mbb{
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: rgba(190, 175, 175, 0.781);
}
.form-check h1{
    font-size: .8rem;
    font-weight: 300;
    
}
.form-check h6{
    font-size: .8rem;
    font-weight: 300;
    padding-left: 40%;
}
.form-check{
    margin-top: 6%;
    display:flex;
}

.jj .btn{
    background-color: rgb(4, 125, 69);
    color: white;
    margin-top: 20px;
    font-size: 1rem;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 70%;

 
}
.jj{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.xx{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.xx hr{
    width: 30%;
}
.xx h5{
    font-size: 1rem;
    font-weight: 300;
}
.la .btn{

    margin-top: 10%;
    width: 40%;
}
.la img{
    width: 20%;
}
.la{
    display: flex;
    justify-content:center ;
}
.tts{
    display: flex;
    justify-content: center;
}
.tts h1{
    margin-right: 2%;
    margin-bottom: 5%;
}