.al h1{
    margin-top: 50px;
}
body{
    background-color: rgb(227, 230, 234);
    font-family: 'Roboto',sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    
}
.signin-box{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}