.al h2{
    margin-top: 50px;
}
.two h5{
    width: 65%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(79, 79, 79);
    margin-left: 300px;
} 

.adc{
    padding-right: 0px;
}
.adc .btn{
    padding: 15px 35px;
    margin-left: 790px;
}

.three{

    background-color: rgb(219, 219, 219);
}
.three h2{
    font-size: 1.5rem;
    padding-left: 80px;
    
}
.five h4{
    padding-top: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 200px;
}
.five h5{
    padding-left: 200px;
    color: rgb(105, 103, 103);
}